#ExperienciaComoCiclista{
font-size: 13px;
}
#ExperienciaComoEntrenador{
  font-size: 13px;
}
#CursosRealizados{
  font-size: 13px;
}
#IntegranteDelSeleccionado{
  font-size: 13px;
}
.slider{
  /*background: url("fotos/6.jpg");*/
  height:100vh;
  background-size: cover;
  background-position: center;
}
ul{
}
span{
  color:orange;
}
.row{
  margin-top:15px;
}
ul li{
  list-style: none;
}
.videos object,
.videos embed,
.videos video{
  height: 100%;
  left:0;
  position: absolute;
  top:0;
  width: 100%;
}
.videos{
height:0;
overflow: hidden;
padding-bottom: 56.25%;
padding-top: 30px;
position: relative;
}
#QuienesSomos{
  /*sticky-top include in class navbar default to move the navbar*/
}
#Entrenamientos{
}
*{
 padding: 0px;
 margin: 0px;
}

#facee{
 margin: 50px auto;
 width: 1025px;
 height: 150px;
}

.rede{
 width: 150px;
 height: 150px;
 margin-left: 20px;
 transition: all 0.4s ease-out;
 border-radius: 50%;
}
#logos{
}
.rede:hover{
 cursor: pointer;
 border:3px solid white;
 transform: translateY(-20px);
 box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}
#gradiento{
  background:-webkit-linear-gradient(bottom, #fff176,#fb8c00,#fb8c00,#ec407a, #2962ff);
  background:-moz-linear-gradient(bottom, #fff176,#fb8c00,#fb8c00,#ec407a, #2962ff);
  background:-ms-linear-gradient(bottom, #fff176,#fb8c00,#fb8c00,#ec407a, #2962ff);
  background:-o-linear-gradient(bottom, #fff176,#fb8c00,#fb8c00,#ec407a, #2962ff);
}
.rede#facebook{
 background-color: #0d47a1;

}
.rede#twitter{
 background-color: #0084b4;
}
.rede#instagram{
 background-color: none;
}

.rede#snap{
 background-color: #fc0;
}
.rede#plus{
 background-color: #dd4b39;
}
.rede#youtube{
 background-color:red;
}

.icone{
 margin:0px auto 0px auto;
 padding: 35px;
 width: 146px;
}
#Sponsors{
}
#Contacto{
}
.galeria img{
  border-radius: 10px;
-webkit-transition:-webkit-transform 0.5s ease 0.3s;
}
.galeria img:hover{
    -webkit-transform:scale(1.2);
}
.social{
  -webkit-transition: -webkit-transform 0.3s ease 0.3s;
}
.social:hover{
    -webkit-transform:scale(1.7);
  /*box-shadow: grey 5px 5px 10px;*/
}
